.fullContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .fullContainer {
        width: 70%;
    }
}

.navButton {
    @apply block mr-1 rounded-lg px-4 py-2 text-sm font-medium text-gray-800 hover:bg-gray-50 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800
}